characters
DDLC.app
lib
renpy
COPYRIGHT.txt
DDLC.exe
DDLC.py
DDLC.sh
errors.txt
traceback.txt
README.html
log.txt
*.rpyc
*.rpa
!scripts.rpa
game/python-packages
game/cache
game/firstrun
game/mod_assets/MonikaSittingExpressions
game/mod_assets/1bl.png
game/mod_assets/1br.png
game/mod_assets/2bl.png
game/mod_assets/2br.png
game/mod_assets/customlogo.png
game/mod_assets/livingroom.png
game/mod_assets/livingroom2.png
game/mod_assets/mEnd.png
game/mod_assets/monikasong.ogg
game/mod_assets/natsleep.png
game/mod_assets/natsleep2.png
game/mod_assets/nEnd.png
game/mod_assets/pink.png
game/mod_assets/poem-game_words.txt
game/mod_assets/sEnd.png
game/mod_assets/tbc.ogg
game/mod_assets/tbc.png
game/mod_assets/yEnd.png